@{
    ViewBag.Title = "Contact";
}
<br /><br />
<p><b>Skontaktuj się z nami:</b></p>
<p>Zaginieni.pl Mateusz Cieśla Z608<br />
s9831mc@ms.wwsi.edu.pl<br />
Józefa Lewartowskiego 17, 00-169 Warszawa</p>
