@{ ViewBag.Title = "Home Page"; }
<br />
<br />
<div class="jumbotron text-center ">
    <h1>Czy widziałeś? Czy może znasz?</h1>
    <p>Witaj na stronie poświęconej szukaniem zaginionych osób</p>
</div>

<div class="row">
    <div class="col-md-4" style=" background-color: mediumaquamarine">
        <h2>Zgłaszaj aktualne zaginięcia</h2>
    </div>
    <div class="col-md-4" style=" background-color: khaki">
        <h2>Sprawdzaj historię i poszlaki</h2>
    </div>
    <div class="col-md-4" style=" background-color: burlywood">
        <h2>Dziel sie informacjami na bieżąco</h2>
    </div>
</div>
<br />
<div class="alert alert-info">

    <strong>Info!</strong> Wszystko co Ci potrzebne znajdziesz w pasku nawigacyjnym na samym szczycie.
</div>